.map_container {
    height: 40rem;
    width: 60rem;
}

.card {
    padding: 10px;
    background-color: white;
    display: flex;
    flexDirection: column;
    justifyContent: center;
    width: 100px;
    height: 100px;
}

.card img {
    max-width: 100%;
    cursor: pointer;
}